@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
	--text: 30, 6%, 93%;
	--background: 30, 15%, 8%;
	--primary: 29, 24%, 74%;
	--secondary: 28, 35%, 35%;
	--accent: 28, 45%, 57%;

	--date-picker-background: hsl(var(--background));
	--date-picker-foreground: hsl(var(--primary));
	--date-picker-highlight-border: hsl(var(--primary));
	--date-input-width: 100%;
}

body,
html {
	@apply text-text-200;
	background: hsl(var(--background));
	height: 100%;
}

select {
	appearance: none;
}

hr {
	border-color: hsl(var(--primary), 20%);
}

html {
	touch-action: manipulation;
}

* {
	font-family: 'Inter';
}

button {
	background-color: transparent;
	border: none;
}

/* Override default styles */
.date-time-picker,
.date-time-field > input {
	background: hsl(var(--background)) !important;

	border: 2px solid hsl(var(--primary), 30%) !important;
	padding: 8px !important;
}

.date-time-picker,
.date-time-field > input,
select,
button,
textarea,
input {
	@apply rounded-md !important;

	background: hsl(var(--background));

	border: 2px solid hsl(var(--primary), 30%);
	padding: 8px;
}

.padding {
	padding: 8px;
}

.border {
	@apply rounded-md !important;

	background: hsl(var(--background));

	border: 2px solid hsl(var(--primary), 30%);
}

textarea:focus,
input[type='text']:focus {
	outline: none;
	border-color: hsl(var(--primary), 90%);
}

textarea::placeholder,
input::placeholder {
	@apply select-none;
	color: hsl(var(--primary), 20%);
}

input[type='checkbox'] {
	@apply p-3;
	border: 2px solid red;
}

@media only screen and (max-width: 768px) {
	html {
		font-size: 10px;
	}
}
